body{
    background-color: rgb(236, 247, 247);
}
h1 {
    text-align: center;
    font-family: var(--font1);
}

.about-section p {
    margin: 10px 50px;
    height: auto;
    width: auto;
    text-align: justify;
    font-size: large;
}
h3 {
    text-align: center
}

h2 {
    text-align: center;
}

.about-content {
    /* width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content:nth-child(1){
    background-color: rgb(191, 246, 246);
    width: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.about-content:nth-child(4){
    background-color: rgb(191, 246, 246);
    width: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-left-odd img {
    border-radius: 50px;
    height: 230px;
    width: 300px;
    transition: opacity 0.5s ease-in-out;
}
.about-left-odd img:hover{
    opacity: 0.7;
}

.about-left-even p {
    font-size: larger;
    margin-right: 20px;
}

.about-right-even img {
    transition: opacity 0.5s ease-in-out;
    border-radius: 100px;
    height: 235px;
    width: 300px;
}
.about-right-even img:hover{
    opacity: 0.7;
}
.about-right-odd p {
    font-size: larger;
}